#chat-form{
  /* margin:100px; */
  /* padding:2px; */
  margin: 0 auto;
  width:460px;
  position:relative;
  top:10%;
  display:block;
  }
#msg{
  text-align:center;
  font-weight: bold;
  height:18px;
  width:400px;
}

h1{
  text-align:center;
  color:green;
}
body{
  background-color:lightblue;
}

p {
  font-family:Arial;
}
#users-list{
  min-height:150px;
  height:40%;
  min-width:150px;
  max-width:500px;
  width:7%;
  display:inline-block;
  position:fixed;
  right:1%;
  top:28%;
  border:3px solid black;
}

#typing {
  display:inline-block;
  position:fixed;
  right:46%;
  border:3px solid black;
  margin: -30px;
}

#posts{
  position:fixed;
  right:60%;
}
